<h1 style="color:orange;"> Let's Go through this Notebook!</h1>

In [1]:
# importing libraries
import numpy as np
import pandas as pd

# checking all directories in our datasets
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/tabular-playground-series-feb-2021/sample_submission.csv
/kaggle/input/tabular-playground-series-feb-2021/train.csv
/kaggle/input/tabular-playground-series-feb-2021/test.csv

In [2]:
train_path = '../input/tabular-playground-series-feb-2021/train.csv'
test_path = '../input/tabular-playground-series-feb-2021/test.csv'

# reading train.csv
train = pd.read_csv(train_path)
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,A,B,A,A,B,D,A,E,C,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,B,A,A,A,B,B,A,E,A,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,A,A,A,C,B,D,A,B,C,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,A,A,A,C,B,D,A,E,G,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,A,B,A,A,B,B,A,E,C,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [3]:
# rows and column in train folder
train.shape

(300000, 26)

In [4]:
# reading test.csv
test = pd.read_csv(test_path)
test.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,A,B,A,C,B,D,A,E,E,...,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,5,A,B,A,C,B,D,A,E,C,...,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,15,A,B,A,C,B,D,A,E,C,...,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,16,A,A,B,A,B,D,A,E,E,...,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,17,A,B,A,A,B,B,A,E,E,...,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931

In [5]:
test.shape

(200000, 25)

In [6]:
extra = []
for i in train.columns:
    if i in test.columns:
        print(i,end=' ')
    else:
        extra.append(i)

print('\n\nextra column in train')
print(extra)

id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9 cont0 cont1 cont2 cont3 cont4 cont5 cont6 cont7 cont8 cont9 cont10 cont11 cont12 cont13

extra column in train
['target']

In [7]:
target = train['target']
train.drop(['target'],axis = 1,inplace = True)

print(target)

0         6.994023
1         8.071256
2         5.760456
3         7.806457
4         6.868974
            ...
299995    8.343538
299996    7.851861
299997    7.600558
299998    8.272095
299999    6.025685
Name: target, Length: 300000, dtype: float64

In [8]:
# as we don't have any null values in this dataset
train.isnull().values.any()

False

In [9]:
for i in train.columns:
    if train[i].dtype == 'object':
        print(i,train[i].unique())

cat0 ['A' 'B']
cat1 ['B' 'A']
cat2 ['A' 'B']
cat3 ['A' 'C' 'D' 'B']
cat4 ['B' 'C' 'A' 'D']
cat5 ['D' 'B' 'A' 'C']
cat6 ['A' 'B' 'D' 'C' 'E' 'I' 'G' 'H']
cat7 ['E' 'B' 'D' 'G' 'F' 'A' 'C' 'I']
cat8 ['C' 'A' 'G' 'E' 'D' 'F' 'B']
cat9 ['I' 'F' 'N' 'K' 'B' 'L' 'G' 'H' 'O' 'A' 'J' 'M' 'C' 'D' 'E']

In [10]:
# as we have columns of object type so convert them using label encoding

from sklearn.preprocessing import LabelEncoder

for i in train.columns:
    if train[i].dtype == 'object':
        labelencoder = LabelEncoder()
        
        labelencoder.fit(list(train[i].values))
        train[i] = labelencoder.transform(train[i].values)
        print(i,train[i].unique())

cat0 [0 1]
cat1 [1 0]
cat2 [0 1]
cat3 [0 2 3 1]
cat4 [1 2 0 3]
cat5 [3 1 0 2]
cat6 [0 1 3 2 4 7 5 6]
cat7 [4 1 3 6 5 0 2 7]
cat8 [2 0 6 4 3 5 1]
cat9 [ 8  5 13 10  1 11  6  7 14  0  9 12  2  3  4]

In [11]:
for i in test.columns:
    if test[i].dtype == 'object':
        print(i,test[i].unique())

cat0 ['A' 'B']
cat1 ['B' 'A']
cat2 ['A' 'B']
cat3 ['C' 'A' 'D' 'B']
cat4 ['B' 'A' 'C' 'D']
cat5 ['D' 'B' 'A' 'C']
cat6 ['A' 'B' 'C' 'D' 'E' 'I' 'H']
cat7 ['E' 'D' 'B' 'G' 'F' 'I' 'A' 'C']
cat8 ['E' 'C' 'D' 'G' 'A' 'F' 'B']
cat9 ['G' 'L' 'F' 'I' 'A' 'K' 'M' 'O' 'N' 'H' 'B' 'J' 'C' 'E' 'D']

In [12]:
# as we have columns of object type so convert them using label encoding

for i in test.columns:
    if test[i].dtype == 'object':
        labelencoder = LabelEncoder()
        
        labelencoder.fit(list(test[i].values))
        test[i] = labelencoder.transform(test[i].values)
        print(i,test[i].unique())

cat0 [0 1]
cat1 [1 0]
cat2 [0 1]
cat3 [2 0 3 1]
cat4 [1 0 2 3]
cat5 [3 1 0 2]
cat6 [0 1 2 3 4 6 5]
cat7 [4 3 1 6 5 7 0 2]
cat8 [4 2 3 6 0 5 1]
cat9 [ 6 11  5  8  0 10 12 14 13  7  1  9  2  4  3]

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
# read submission file
submission = pd.read_csv('../input/tabular-playground-series-feb-2021/sample_submission.csv',index_col='id')

In [15]:
from sklearn.model_selection import train_test_split

X_train,X_valid,y_train,y_valid = train_test_split(train,target,
                                                   train_size=0.8,
                                                   test_size=0.2,
                                                   random_state=42)

In [16]:
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor

# initalise xgb regressor
model = XGBRegressor(n_estimators = 100,learning_rate=0.01)

# train the model
model.fit(X_train,y_train,early_stopping_rounds=5,
               eval_set = [(X_valid,y_valid)],
              verbose=False)

#predict test dataset
submission['target'] = model.predict(test)
submission.to_csv('random_forest.csv')

<h2 style="color:red;"> We can increase accuracy of current notebook, if we hypertune some parameter in xgboost. </h2>

<h1 style="color:orange;">Upvote it! if you like it</h1>